################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Debug/red_black_tree.ilk
/.vs/red_black_tree/v14/.suo
*.ipch
*.pdb
/red_black_tree.VC.db
/red_black_tree.VC.VC.opendb
